@* ---------------------------- Blazor Settings ---------------------------- *@

@page "/"
@using Models
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

@* ---------------------------- Blazor Settings ---------------------------- *@




@* ---------------------------- HTML+c# ---------------------------- *@
<h1>Game Catalog</h1>

<nav>
    <ul>
        <li class="Nav-link-list"><button @onclick='()=>{NavigationManager.NavigateTo("/mgame");}' >Add New Game</button></li>
    </ul>
</nav>

@if(games == null)
{
    <p>Loading...</p>
}

@if(shouldDialogBeVisable == true)
{
    <DeleteGame oneGame="@currentGame" OnClose="@OnDeleteModalClose" />
}

<table id="games-table-main">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>
    <tbody>
        @foreach(var item in games)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Genre</td>
                <td>@item.Price</td>
                <td>@item.ReleaseDate.ToString("MM/dd/yyyy")</td>
                <td>
                    <button @onclick='()=>{NavigationManager.NavigateTo($"/mgame/{item.Id}");}'> <i class="oi oi-pencil" /> </button>
                    <button @onclick='()=>{shouldDialogBeVisable=true; currentGame = item;}'> <i class="oi oi-x" /> </button>
                </td>
            </tr>
        }

    </tbody>
</table>

@* ---------------------------- HTML+c# ---------------------------- *@



@* ---------------------------- C# ---------------------------- *@

@code
{
    private Game[]? games;

    private Game? currentGame;

    private bool shouldDialogBeVisable = false;

    protected override void OnInitialized()
    {
        games = GameClient.GetGames();
    }

    private void OnDeleteModalClose(bool accepted)
    {
        if(accepted)
        {
            GameClient.DeleteGame(currentGame!.Id);
            games = GameClient.GetGames();
            shouldDialogBeVisable = false;
        }
        if(!accepted)
        {
            shouldDialogBeVisable = false;
        }
    }



}

@* ---------------------------- C# ---------------------------- *@